<%- include('../partials/header') %>
<h2>Enter a New Workout</h2>
<form action="/workouts" method="POST">
  <label>Workout Name:
    <input type="text" name="name">
  </label><br>
  <button type="submit">Add Workout</button>
</form>

<%- include('../partials/footer') %>