<%- include('../partials/header') %>
<form action="/workouts" method="POST">
  <label>Begin by giving your workout a name<title></title>:
    <input type="text" placeholder = "e.g. Leg Day" name="name">
  </label><br>
  <button type="submit">Begin Workout</button>
</form>

<%- include('../partials/footer') %>