<%- include('../partials/header') %>

<section id="show-page">
    <div><%= workout.updatedAt %></div>
    <div><%= workout.exercises %></div>
</section>
<section>
    <br><br>
    <h2>Add exercise</h2>
    <h2>Notes: </h2>
</section>

<%- include('../partials/footer') %>